<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HONASTEAK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="public-header">
            <div class="public-container clearfloat">
                <div class="header-logo"><a href="#"></a></div>
                <ul class="header-nav clearfloat">
                    <li class="item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="item">@Html.ActionLink("Category", "Index", "Category", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="item">@Html.ActionLink("Menu", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="item"><a href="#">News</a></li>
                    <li class="item"><a href="#">Rviews</a></li>
                </ul>
            </div>
        </div>
        <div class="index-banner">
            <div class="index-banner-bg"><img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/banner.jpg?raw=true" alt="banner" /></div>
            <div class="index-banner-text">
                <div class="text-logo"></div>
                <p class="text-info">
                    <i class="line line-left"></i>
                    <span class="text">resto restaurant home page website template</span><i class="line line-right"></i>
                </p>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @*<div class="index-menu">
                <div class="menu-tips">The Menu</div>
                <div class="public-container  menu-list">
                    <ul class="clearfloat">
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Voluptate cillum fugiat.</h4>
                                <p class="comment">Cheese, tomato, mushrooms, onions.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Arcu pede enim justo.</h4>
                                <p class="comment">Arcu pede enim justo.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Metus varius laoreet.</h4>
                                <p class="comment">Chicken, mozzarella cheese, onions.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Cras dapibussemper nisi.</h4>
                                <p class="comment">Pineapple, Minced Beef, Cheese.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Donec sodales magna.</h4>
                                <p class="comment">Tuna, Sweetcorn, Cheese.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Quam semper libero.</h4>
                                <p class="comment">Cheese, tomato, mushrooms, onions.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Saugue velit cursus.</h4>
                                <p class="comment">Pineapple, Minced Beef, Cheese.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                        <li class="menu-item clearfloat">
                            <a class="title">
                                <h4>Nam eget dui Etiam.</h4>
                                <p class="comment">Chicken, mozzarella cheese, onions.</p>
                            </a>
                            <div class="line"></div>
                            <div class="price"></div>
                        </li>
                    </ul>
                </div>
                <a href="#" class="menu-more-btn">load more <span>|</span><span class="icon"></span></a>
            </div>
            <div class="index-panel">
                <div class="inedx-panel-header clearfloat">
                    <h3>FEATURED DISHES</h3>
                    <div class="line"></div>
                    <div class="btn-group">
                        <a href="#" class="btn active"></a>
                        <a href="#" class="btn"></a>
                        <a href="#" class="btn"></a>
                        <a href="#" class="btn"></a>
                    </div>
                </div>
                <div class="index-panel-body index-food-list">
                    <ul class="clearfloat">
                        <li class="food-item">
                            <a href="#">
                                <img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel01.jpg?raw=true" class="banner" alt="">
                                <div class="name"><span class="price">$30</span>Fugiat nulla sint</div>
                                <div class="star-bar">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star no-star"></span>
                                </div>
                            </a>
                        </li>
                        <li class="food-item">
                            <a href="#">
                                <img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel02.jpg?raw=true" alt="" class="banner">
                                <div class="name"><span class="price">$24</span>Daute irure dolor</div>
                                <div class="star-bar">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star no-star"></span>
                                    <span class="star no-star"></span>
                                </div>
                            </a>
                        </li>
                        <li class="food-item">
                            <a href="#">
                                <img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel03.jpg?raw=true" alt="" class="banner">
                                <div class="name"><span class="price">$60</span>Officia deserunt mollit</div>
                                <div class="star-bar">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </a>
                        </li>
                        <li class="food-item">
                            <a href="#">
                                <img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel04.jpg?raw=true" alt="" class="banner">
                                <div class="name"><span class="price">$17</span>Pim minim veniam</div>
                                <div class="star-bar">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star  no-star"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index-panel">
                <div class="inedx-panel-header clearfloat">
                    <h3>THE GALLERY</h3>
                    <div class="line"></div>
                </div>
                <div class="index-panel-body index-pics">
                    <a class="pic-col pic-col-m"><img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel05.jpg?raw=true" /></a>
                    <div class="pic-col pic-col-s">
                        <a class="pic-row"><img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel06.jpg?raw=true" /></a>
                        <a class="pic-row"><img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel07.jpg?raw=true" /></a>
                    </div>
                    <a class="pic-col pic-col-l"><img src="https://github.com/JessicaPotter2/foodWebsite/blob/master/images/panel08.jpg?raw=true" /></a>
                </div>
            </div>*@

        <hr />
        <footer>
            <div class="public-footer">
                <div class="public-container">
                    <div class="footer-col">
                        <p>New York Restaurant<br /> 3926 Anmoore Road<br /> New York, NY 10014<br /><a href="tel:718-749-1714" class="footer-tel">718-749-1714</a></p>
                    </div>
                    <div class="footer-col">
                        <p>France Restaurant<br /> 68, rue  de la Couronne<br /> 75002 PARIS<br />02.94.23.69.56</p>
                    </div>
                    <div class="footer-col">
                        <a href="#">Blog</a>
                        <a href="#">Careers</a>
                        <a href="#">Privacy Policy</a>
                        <a>Contact</a>
                    </div>
                    <div class="footer-col footer-col-nor">
                        <div class="footer-logo"></div>
                        <div class="footer-info">
                            <p>&copy; @DateTime.Now.Year - HONASTEAK</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .index-banner {
        position: relative;
        background: #b3b3b3;
    }

    .index-banner-bg {
        height: 570px;
        overflow: hidden;
    }

        .index-banner-bg img {
            margin: 0 auto;
        }

    .index-banner-text {
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -388px;
    }

        .index-banner-text .text-logo {
            width: 776px;
            height: 117px;
            background: url("https://github.com/JessicaPotter2/foodWebsite/blob/master/images/text-logo.png?raw=true") no-repeat;
        }

        .index-banner-text .text-info {
            margin-top: 17px;
            text-align: center;
            color: #fff;
        }

            .index-banner-text .text-info .line {
                display: inline-block;
                width: 40px;
                border-top: 1px solid #fff;
                vertical-align: middle;
                *margin-top: 22px;
            }

            .index-banner-text .text-info .text {
                margin: 0 26px;
            }
    /*菜单*/
    .index-menu {
        position: relative;
        border-top: 4px solid #f34949;
    }

        .index-menu .menu-tips {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -78px;
            width: 156px;
            height: 75px;
            text-align: center;
            line-height: 65px;
            color: #fff;
            background: #f34949;
        }

            .index-menu .menu-tips:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 78px solid transparent;
                border-right: 78px solid transparent;
                border-bottom: 10px solid #fff;
            }

        .index-menu .menu-list {
            margin-top: 150px;
            color: #555;
            overflow: hidden;
            *margin-bottom: 92px;
        }

            .index-menu .menu-list ul {
                width: 1160px;
            }

        .index-menu .menu-item {
            float: left;
            width: 520px;
            margin-right: 60px;
            margin-bottom: 56px;
        }

            .index-menu .menu-item .title, .index-menu .menu-item .line {
                float: left;
            }

            .index-menu .menu-item .price {
                float: right;
            }

            .index-menu .menu-item .title {
                width: 230px;
                color: #555;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .index-menu .menu-item .line {
                margin-top: 10px;
                width: 192px;
                border-top: 1px solid #e3e1e1;
            }

            .index-menu .menu-item .comment {
                margin-top: 4px;
                color: #b7b7b7;
                font-size: 12px;
            }

        .index-menu .menu-more-btn {
            margin: 0 auto;
            width: 114px;
            height: 32px;
            padding-left: 16px;
            border: 1px solid #d7d5d5;
            font-size: 14px;
            line-height: 32px;
            color: #b7b7b7;
        }

            .index-menu .menu-more-btn .icon {
                display: inline-block;
                width: 11px;
                height: 7px;
                margin-left: 10px;
                background: url("https://github.com/JessicaPotter2/foodWebsite/blob/master/images/more-button.png?raw=true");
            }

    .index-panel {
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
        width: 1100px;
    }

    .inedx-panel-header {
    }

        .inedx-panel-header h3 {
            float: left;
            margin-right: 48px;
            font-size: 20px;
            color: #3b3b3b;
            font-weight: normal;
        }

        .inedx-panel-header .line {
            float: left;
            margin-top: 10px;
            width: 200px;
            border-top: 1px solid #e5e3e3;
        }

        .inedx-panel-header .btn-group {
            font-size: 0;
            float: right;
        }

        .inedx-panel-header .btn {
            display: inline-block;
            margin-left: 11px;
            width: 9px;
            height: 9px;
            background: #dedede;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .inedx-panel-header .active {
            background: #9b9b9b;
        }

    .index-panel-body {
        margin-top: 75px;
    }

    .index-food-list {
        overflow: hidden;
    }

        .index-food-list ul {
            width: 1160px;
        }

        .index-food-list .food-item {
            float: left;
            width: 230px;
            margin-right: 60px;
        }

            .index-food-list .food-item .banner {
                margin-bottom: 30px;
                height: 202px;
            }

            .index-food-list .food-item .name {
                color: #555;
                margin-bottom: 10px;
            }

            .index-food-list .food-item .star-bar {
                font-size: 0;
            }

            .index-food-list .food-item .star {
                display: inline-block;
                width: 12px;
                height: 13px;
                margin-right: 5px;
                background-image: url("https://github.com/JessicaPotter2/foodWebsite/blob/master/images/star.png?raw=true");
                background-repeat: no-repeat;
            }

            .index-food-list .food-item .no-star {
                background-position: 0 -13px;
            }

            .index-food-list .food-item .price {
                float: right;
            }

    .index-pics {
        height: 380px;
        overflow: hidden;
    }

        .index-pics .pic-col {
            float: left;
        }

        .index-pics .pic-col-l {
            width: 460px;
        }

        .index-pics .pic-col-m {
            width: 352px;
        }

        .index-pics .pic-col-s {
            width: 288px
        }

    .public-header {
        height: 110px;
    }

        .public-header .header-logo {
            margin-top: 40px;
            float: left;
        }

            .public-header .header-logo a {
                width: 182px;
                height: 54px;
                background: url("https://github.com/JessicaPotter2/foodWebsite/blob/master/images/index-header-logo.png?raw=true") no-repeat;
            }

        .public-header .header-nav a:hover {
            text-decoration: underline;
        }

        .public-header .header-nav {
            float: right;
            font-size: 14px;
        }

            .public-header .header-nav .item {
                float: left;
                margin-top: 44px;
                margin-left: 44px;
            }

            .public-header .header-nav a {
                color: #3b3b3b;
            }

    .public-container {
        position: relative;
        margin: 0 auto;
        width: 1100px;
    }

    .public-footer {
        height: 218px;
        padding-top: 100px;
        margin-top: 200px;
        background: #3b3b3b;
    }

        .public-footer .footer-col {
            width: 230px;
            float: left;
            margin-right: 60px;
            font-size: 16px;
            color: #fff;
            line-height: 1.8;
        }

        .public-footer .footer-col-nor {
            margin-right: 0;
        }

        .public-footer .footer-logo {
            width: 182px;
            height: 55px;
            margin-top: -15px;
            margin-bottom: 12px;
            background: url("https://github.com/JessicaPotter2/foodWebsite/blob/master/images/index-footer-logo.png?raw=true") no-repeat;
        }

    .footer-info a {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
    }
</style>
